html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
/* main{
    height: 100vh;
} */
body{
    background: linear-gradient(to right, #87CEFA, #4682B4);
}
.chatbox{
    height: 25em;
    padding-right: auto;
    padding-left: auto;
}